body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient( rgba(238, 236, 236, 0.257)), url(./assets/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.text{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    font-family: monospace;
    padding: 10px;
}